<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.specialization.preferences.PreferencePage"
            id="org.archicontribs.specialization.preferences.PreferencePage"
            name="specialization plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/help.xml"
            primary="true">
      </toc>
   </extension>
   <extension
      point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationComponentUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationComponentUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationEventUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationEventUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationFunctionUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationInteractionUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationInterfaceUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationProcessUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationServiceUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationServiceUIProvider">
      </uiProvider>
      
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ApplicationComponentUIProvider"
            id="org.archicontribs.specialization.uiProvider.ApplicationComponentUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ArtifactUIProvider"
            id="org.archicontribs.specialization.uiProvider.ArtifactUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.AssessmentUIProvider"
            id="org.archicontribs.specialization.uiProvider.AssessmentUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessActorUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessActorUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessCollaborationUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessEventUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessEventUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessFunctionUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessInteractionUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessInterfaceUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessObjectUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessObjectUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessProcessUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessRoleUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessRoleUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessServiceUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessServiceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.CapabilityUIProvider"
            id="org.archicontribs.specialization.uiProvider.CapabilityUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.CommunicationNetworkUIProvider"
            id="org.archicontribs.specialization.uiProvider.CommunicationNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ConstraintUIProvider"
            id="org.archicontribs.specialization.uiProvider.ConstraintUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ContractUIProvider"
            id="org.archicontribs.specialization.uiProvider.ContractUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.CourseOfActionUIProvider"
            id="org.archicontribs.specialization.uiProvider.CourseOfActionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DataObjectUIProvider"
            id="org.archicontribs.specialization.uiProvider.DataObjectUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DeliverableUIProvider"
            id="org.archicontribs.specialization.uiProvider.DeliverableUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DeviceUIProvider"
            id="org.archicontribs.specialization.uiProvider.DeviceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DistributionNetworkUIProvider"
            id="org.archicontribs.specialization.uiProvider.DistributionNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DriverUIProvider"
            id="org.archicontribs.specialization.uiProvider.DriverUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.EquipmentUIProvider"
            id="org.archicontribs.specialization.uiProvider.EquipmentUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.FacilityUIProvider"
            id="org.archicontribs.specialization.uiProvider.FacilityUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.GapUIProvider"
            id="org.archicontribs.specialization.uiProvider.GapUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.GoalUIProvider"
            id="org.archicontribs.specialization.uiProvider.GoalUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.GroupingUIProvider"
            id="org.archicontribs.specialization.uiProvider.GroupingUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ImplementationUIProvider"
            id="org.archicontribs.specialization.uiProvider.ImplementationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.JunctionUIProvider"
            id="org.archicontribs.specialization.uiProvider.JunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.LocationUIProvider"
            id="org.archicontribs.specialization.uiProvider.LocationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.MaterialUIProvider"
            id="org.archicontribs.specialization.uiProvider.MaterialUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.MeaningUIProvider"
            id="org.archicontribs.specialization.uiProvider.MeaningUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.NodeUIProvider"
            id="org.archicontribs.specialization.uiProvider.NodeUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.OutcomeUIProvider"
            id="org.archicontribs.specialization.uiProvider.OutcomeUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.PathUIProvider"
            id="org.archicontribs.specialization.uiProvider.PathUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.PlateauUIProvider"
            id="org.archicontribs.specialization.uiProvider.PlateauUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.PrincipleUIProvider"
            id="org.archicontribs.specialization.uiProvider.PrincipleUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ProductUIProvider"
            id="org.archicontribs.specialization.uiProvider.ProductUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.RepresentationuiProvider.UIProvider"
            id="org.archicontribs.specialization.uiProvider.RepresentationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.RequirementUIProvider"
            id="org.archicontribs.specialization.uiProvider.RequirementUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ResourceUIProvider"
            id="org.archicontribs.specialization.uiProvider.ResourceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.StakeholderUIProvider"
            id="org.archicontribs.specialization.uiProvider.StakeholderUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.SystemSoftwareUIProvider"
            id="org.archicontribs.specialization.uiProvider.SystemSoftwareUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyCollaborationUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyEventUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyEventUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyFunctionUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyInteractionUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyInterfaceUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyProcessUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyServiceUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyServiceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.ValueUIProvider"
            id="org.archicontribs.specialization.uiProvider.ValueUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.WorkPackageUIProvider"
            id="org.archicontribs.specialization.uiProvider.WorkPackageUIProvider">
      </uiProvider>
   </extension>
</plugin>
