<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.specialization.preferences.PreferencePage"
            id="org.archicontribs.icon.IconPreferencePage"
            name="icon plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/help.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.BusinessActorUIProvider"
            id="org.archicontribs.specialization.uiProvider.BusinessActorUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.CommunicationNetworkUIProvider"
            id="org.archicontribs.specialization.uiProvider.CommunicationNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DeviceUIProvider"
            id="org.archicontribs.specialization.uiProvider.DeviceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.DistributionNetworkUIProvider"
            id="org.archicontribs.specialization.uiProvider.DistributionNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.EquipmentUIProvider"
            id="org.archicontribs.specialization.uiProvider.EquipmentUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.FacilityUIProvider"
            id="org.archicontribs.specialization.uiProvider.FacilityUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.MaterialUIProvider"
            id="org.archicontribs.specialization.uiProvider.MaterialUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.NodeUIProvider"
            id="org.archicontribs.specialization.uiProvider.NodeUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.PathUIProvider"
            id="org.archicontribs.specialization.uiProvider.PathUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.SystemSoftwareUIProvider"
            id="org.archicontribs.specialization.uiProvider.SystemSoftwareUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyCollaborationUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyEventUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyEventUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyFunctionUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyInteractionUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyInterfaceUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyProcessUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="org.archicontribs.specialization.uiProvider.TechnologyServiceUIProvider"
            id="org.archicontribs.specialization.uiProvider.TechnologyServiceUIProvider">
      </uiProvider>
   </extension>
</plugin>
